<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css?family=Merriweather:300|Raleway:400,700" rel="stylesheet">
<title>{{ page.title }}</title>
<meta name="twitter:site"    content="@{{ site.plainwhite.social_links.twitter }}">
<meta name="twitter:creator" content="@{{ page.author }}">
<meta name="twitter:title"   content="{{ page.title }}">

<meta name="linkedIn:site"    content="@{{ site.plainwhite.social_links.linkedIn }}">
<meta name="linkedIn:creator" content="@{{ page.author }}">
<meta name="linkedIn:title"   content="{{ page.title }}">

<meta name="github:site"    content="@{{ site.plainwhite.social_links.github }}">
<meta name="github:creator" content="@{{ page.author }}">
<meta name="github:title"   content="{{ page.title }}">