---
layout: default
---
{%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
<div class="post-container">
    <a class="post-link" href="{{ page.url | relative_url }}">
        <h2 class="post-title">{{ page.title | escape }}</h2>
    </a>
    <div class="post-meta">
        <div class="post-date"><i class="icon-calendar"></i>{{ page.date | date: date_format }}</div>
        {%- if page.tags.size > 0 -%}
        <ul class="post-categories">
            {%- for tag in page.tags -%}
            <li>{{ tag }}</li>
            {%- endfor -%}
        </ul>
        {%- endif -%}
    </div>
    <div class="post">
        {{ content }}
    </div>
    {%- if site.plainwhite.disqus_shortname -%}
    <div id="disqus_thread" style="margin-top:25px"></div>
    <script>
        $(function(){
          $("#includedContent").load("disqus.html");
        });
    </script>
    {%- endif -%}

    <script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
            data-id="namannigam" data-description="Support me on Buy me a coffee!"
            data-message="Thank you for visiting. You can now buy me a coffee!"
            data-color="#5F7FFF" data-position="Right" data-x_margin="18" data-y_margin="18">
    </script>
</div>
